@model Mono.Model.Photo
@using Mono.Models

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("_AdminMenu");
}

<h2>Delete</h2>
<p class="alert-danger">@ViewBag.ErrorMessage</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            File name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
            @Html.Image(Model.FileName, null)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
