@model Mono.Model.Category
@using Mono.HtmlHelperExtension

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.RenderPartial("_AdminMenu");
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParentCategoryID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ParentCategoryID", String.Empty)
                @Html.ValidationMessageFor(model => model.ParentCategoryID)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Images</label>
            <div class="col-md-10">
                @Html.DropDownList("PhotoID", ViewBag.Photos as IEnumerable<SelectListItem>, String.Empty)
                @Html.Image(Model.PhotoID, new { id = "selectedImage" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SizeType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SizeType")
                @Html.ValidationMessageFor(model => model.SizeType)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script>
        imageFunctions.changeImageEvent();
    </script>
}