@{
    ViewBag.Title = "Admin home page";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Admin home page</h3>
<h4>Edit restaurants, food categories, food and ingredients</h4>
<h4>Match users with restoran (set employers)</h4>

<div class="container">
    <ul>
        <li>@Html.ActionLink("Users", "Index", "User")</li>
        <li>@Html.ActionLink("Restaurants", "Index", "Restaurant")</li>
        <li>@Html.ActionLink("Food categries", "Index", "Category")</li>
        <li>@Html.ActionLink("Food", "Index", "Food")</li>
        <li>@Html.ActionLink("Ingredients", "Index", "Ingredient")</li>
    </ul>
</div>