@{
    ViewBag.Title = "Admin edit page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
</div>

<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Users", "Index", "AdminUser")</li>
                <li>@Html.ActionLink("Restaurants", "Index", "AdminRestaurant")</li>
                <li>@Html.ActionLink("Food categries", "Index", "AdminCategory")</li>
                <li>@Html.ActionLink("Food", "Index", "AdminFood")</li>
                <li>@Html.ActionLink("Ingredients", "Index", "AdminIngredient")</li>
            </ul>
        </div>
    </div>
</div>

@RenderBody()

