<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Edit", "Index", "Admin", new { area = "Admin" }, null)</li>
                    }
                    @if (User.IsInRole("user"))
                    {
                        <li>@Html.ActionLink("Items",  "Index", "Item",  new { area = "Auction" }, null)</li>
                        <li>@Html.ActionLink("Orders", "Index", "Order", new { area = "Auction" }, null)</li>
                    }
                    @if (User.IsInRole("restaurant"))
                    {
                        <li>@Html.ActionLink("Orders", "Orders", "Offer", new { area = "Auction" }, null)</li>
                        <li>@Html.ActionLink("Offers", "Index", "Offer", new { area = "Auction" }, null)</li>
                    }
                    <li>@Html.ActionLink("Restaurants", "Restaurants", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Restaurant application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/chosen")
    @RenderSection("scripts", required: false)
    <script>
        $(function() {
            $('.chosen-select').chosen();
            $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
        });
    </script>
</body>
</html>
