@model Mono.Model.Order

<tr id="order@{@Model.ID}">
    <td>
        @Html.DisplayFor(model => model.User.LastName)
        @Html.DisplayFor(model => model.User.FirstName)
        (@Html.DisplayFor(model => model.User.UserName))
    </td>
    <td>
        @Html.DisplayFor(model => model.User.Address)
    </td>
    <td>
        @Html.DisplayFor(model => model.Description)
    </td>
    <td>
        @Html.DisplayFor(model => model.DateTime)
    </td>
    <td>
        @Html.DisplayFor(model => model.Status)
    </td>
    <td>
        @Html.DisplayFor(model => model.Offers.Count)
    </td>
    <td>
        @Html.ActionLink("Make offer (See items)", "Details", "Offer", new { id = Model.ID }, null)
    </td>
</tr>
