@model Mono.Model.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @if (string.IsNullOrEmpty(Model.Description))
            {
                @: -
            }
            else
            {
                @Html.DisplayFor(model => model.Description)
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Address)
        </dd>

        <dt>
            Items
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayName("Name")
                    </th>
                    <th>
                        @Html.DisplayName("Description")
                    </th>
                    <th>
                        @Html.DisplayName("Size")
                    </th>
                    <th>
                        @Html.DisplayName("Pieces")
                    </th>
                    <th>
                        @Html.DisplayName("Ingredients")
                    </th>
                </tr>

                @foreach (var item in Model.FoodIngredients)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Food.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategorySize.Value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pieces)
                        </td>
                        <td>
                            @string.Join(", ", item.Ingredients.Select(i => i.Name).ToArray())
                        </td>
                    </tr>
                }

            </table>
        </dd>
    </dl>
</div>

@if(Model.Status == Mono.Model.Status.Active)
{ 
    <p>
        @Html.ActionLink("Make offer", "MakeOffer", "Offer", new { id = Model.ID }, null)
    </p>
    <p>
        @Html.ActionLink("Orders", "Orders", "Offer")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Offers", "Index", "Offer")
    </p>
}