@model IEnumerable<Mono.Model.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Index", "Basket")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodIngredients)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @if(@item.Offers.Count == 0)
            {
                @:-
            }
            else
            {
                @Html.ActionLink(@item.Offers.Count.ToString(), "Offers", "Order", new { id = item.ID }, null)
            }
        </td>
        <td>
            @Html.ActionLink("See items", "Details", "Order", new { id=item.ID }, null)
        </td>
        <td>
            @if(item.Status == Mono.Model.Status.Active)
            {
                @Html.ActionLink("Deactivate", "Deactivate", new { id=item.ID }) @:|
            }
                
            @Html.ActionLink("Edit", "Edit", new { id=item.ID })
        </td>
    </tr>
}

</table>
